[flake8]
# Like Black.
max-line-length = 88

extend-ignore =
    # Whitespace before ':': Incompatible with Black
    E203,
    # Line break occurred before a binary operator: Incompatible with Black, ref.: https://black.readthedocs.io/en/stable/the_black_code_style.html
    W503,
    # Line too long: Already covered by Black
    E501,
    # is too complex: declared bankrupcy.
    C901,
    # we want to use lambda sometimes
    E731
